{% extends "blog/base.html" %}
{% block content%}
<h1>About</h1>
<br>
<p>
    <em>Physics Blog</em> is a free website for all those who want to gain little knowledge in the field of Physics.
    Benjamin Franklin said, <em>"An investment in knowledge pays the best interest"</em>. With this motive, this website
    was
    started to provide free knowledge for everybody. Blogs present on this website is generally written in such a way
    that a reader
    from a non-science background will also able to understand.
</p>
<p>
    Mostly the information present in the blogs is generally taken from some other sources like <em>Wikipedia, Quanta
        Magazine</em> and other physics blogs.
</p>
<p>
    Thank you for visiting the Physics Blog. I invite you to explore our pages.
</p>
<img class="img-thumbnail img-fluid" style="max-width: 50vh; margin: auto; display: block;"
    src="https://64.media.tumblr.com/b2ec7d9b83ce7df7ef781c2b231cb4a7/tumblr_pt565hGmxy1qf4pbf_1280.jpg">
{% endblock content%}