{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content%}
<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="https://i.imgur.com/2fFjSfL.jpg" alt="Profile-Pic">
        <div class="media-body">
            <h2 class="account-heading">{{user.first_name}} {{user.last_name}}</h2>
            <p class="text-secondary" style="margin-bottom: 0;">{{user.username}}</p>
            <p class="text-secondary">{{user.email}}</p>
        </div>
    </div>
    <!-- FORM HERE -->
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ u_form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline" type="submit">Update</button>
        </div>
    </form>
</div>

{% endblock content%}